section{
    background-color: #ffba08;
    width: 500px;
    height: 500px;
}

div{
    background-color: #f48c06;
    width: 50%;
    height: 20%;
}

h1{
    border: 1px solid black;
    line-height: 200%; /* depends on parent width and height: ; */

}

#em h2 {
    font-size: 2em; /*parent depends*/
    margin-left: 1em; /*Depends on it's font size itself*/
}

 button{
    font-size: 1em;
    padding: 0 1em; 
    border-radius: 0.5em;
}


/* depends on root element instead of parent element  */
#rem h2{
    font-size: 2rem;
}